<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywm.mapper.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.ywm.model.entity.Shop" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="lng" property="lng" jdbcType="VARCHAR" />
    <result column="lat" property="lat" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    "id", "name", type_id, create_user_id, status, lng, lat, phone, logo, address, "desc", create_time, update_time
  </sql>

  <!-- 条件查询 店铺信息分页列表 -->
  <select id="getShopPageList"
          parameterType="com.ywm.model.base.PageDTO"
          resultType="com.ywm.model.shop.ShopVO">
    SELECT
        sp."id"
        , sp."name"
        , sp.type_id
        , st."name" AS typeName
        , sp.lng
        , sp.lat
        , sp.phone
        , sp.logo
        , sp.address
        , sp."desc"
        , sp.update_time
    FROM "t_shop" sp
    LEFT JOIN "t_shop_type" st ON sp.type_id = st."id"
    <where>
      <if test="param != null">
        <if test="param.id != null and param.id != ''">
          AND sp."id" = #{param.id}
        </if>
        <if test="param.keyword != null and param.keyword != ''">
          AND sp."name" LIKE CONCAT('%',#{param.keyword},'%')
          OR sp.address LIKE CONCAT('%',#{param.keyword},'%')
        </if>
      </if>
    </where>
    <if test="pageSize != null">
      limit #{pageSize}
    </if>
    <if test="offset != null">
      offset #{offset}
    </if>
  </select>

  <!-- 条件查询 店铺信息数量 -->
  <select id="getShopCount"
          parameterType="com.ywm.model.base.PageDTO"
          resultType="java.lang.Long">
    SELECT
        count(*)
    FROM "t_shop" sp
    LEFT JOIN "t_shop_type" st ON sp.type_id = st."id"
    <where>
      <if test="param != null">
        <if test="param.id != null and param.id != ''">
          AND sp."id" = #{param.id}
        </if>
        <if test="param.keyword != null and param.keyword != ''">
          AND sp."name" LIKE CONCAT('%',#{param.keyword},'%')
          OR sp.address LIKE CONCAT('%',#{param.keyword},'%')
        </if>
      </if>
    </where>
  </select>

</mapper>